@import "common";

@mixin press-box($border-color, $bg-color) {
  border: 0.2em solid $border-color;
  background-color: $bg-color;
  padding: 0.5em;
  margin: 0.5em 0;
}

/* vim: set sw=2 sts=2 : */
