@import "common";

.press-button {
  font-size: $font-size;
  padding: 0.5em;
  margin: 0.1em 0 0 0;
  border: 0.1em solid darken($blue, 10%);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: $blue;
  color: white;
  border-radius: 0.3em;
  text-shadow: 0.1em 0.1em invert(white);
  font-weight: bold;

  &.hide {
    display: none;
  }
}

.press-right.press-button + .press-right.press-button {
  margin-right: 0.5em;
}

.press-left.press-button + .press-left.press-button {
  margin-left: 0.5em;
}


/* vim: set sw=2 sts=2 : */
