@import "common";
@import "link";

.press-button {
  @extend .press-link;

  border: 0;
  padding: 0.5em;
  margin: 0.1em 0 0 0;
  display: inline-block;
  text-align: center;
  background-color: $yellowA400;
  box-shadow: 0 0.1em 0.2em $black;
  min-width: 4em;

  &.hide {
    display: none;
  }
}

.press-right.press-button + .press-right.press-button {
  margin-right: 0.5em;
}

.press-left.press-button + .press-left.press-button {
  margin-left: 0.5em;
}


/* vim: set sw=2 sts=2 : */
