@import "common";

.press-card {
  background-color: $blue600;
  margin: 0 0 1em 0;
  color: $white;

  .header {
    padding: 0.5em;
  }

  .content {
    padding: 0.5em;
    background-color: $white;
    color: $black;
  }
}

/* vim: set sw=2 sts=2 : */
