$font-size: 16px;

/* http://www.google.com/design/spec/style/color.html#color-color-palette */

$white: #FFFFFF;
$black: #000000;

$indigo100: #C5CAE9;
$indigo500: #3F51B5;
$indigo700: #303F9F;

$yellowA100: #FFFF8D;
$yellowA200: #FFFF00;
$yellowA400: #FFEA00;
$yellowA700: #FFD600;

$indigo900: #1A237E;

/* vim: set sw=2 sts=2 : */
