@import "common";

.press-form {
  label {
    width: 10em;
    display: inline-block;
    line-height: $font-size;
    /* input margin + padding + border */
    margin: 0.4em 0 0.9em 0;
  }

  input[type=text] {
    line-height: $font-size;
    @media (min-width: 40em) {
      width: 40em;
    }
    @media (max-width: 40em) {
      width: 100%;
    }
  }
}

input[type=search], input[type=text] {
  margin: 0 0 0.5em 0;
  padding: 0.2em;
  border: 0.2em inset $gray1;
  border-radius: 0.3em;
}

/* vim: set sw=2 sts=2 : */
