@import "common";

html {
  height: 100%;
}

body {
  font-size: $font-size;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

.press-body {
  background-color: $blue100;
  color: $black;
  padding: 1em;
  height: 100%;
}

html {
  overflow-y: scroll;
}

@media (min-width: 50em) {
  body {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}

.press-right {
  float: right;
}

.press-left {
  float: left;
}

.press-hide {
  display: none;
}

.press-clear {
  clear: both;
}

.press-wide {
  width: 100%;
}

.press-text-hint {
  opacity: 0.7;
}

/* vim: set sw=2 sts=2 : */
