@import "common";

.press-list {
  margin: 0 0 1em 0;

  .press-list-item {
    &:hover, &:focus {
      background-color: $blue50;
    }

    &:last-child {
      margin-bottom: 0;
    }

    border: 0.2em solid $grey400;

    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: $black;
    font-weight: bold;
    text-align: center;
    background-color: $white;
    margin-bottom: 0.2em;
  }
}

/* vim: set sw=2 sts=2 : */
